version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: crypto-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - crypto-network


  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: crypto-redis-commander
    environment:
      REDIS_HOSTS: local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
    networks:
      - crypto-network

  cryptochat:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crypto-chat-app
    ports:
      - "10.0.0.1:8080:8080"
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
     
    depends_on:
      redis:
        condition: service_healthy
      
    restart: unless-stopped
    networks:
      - crypto-network

volumes:
  redis-data:

networks:
  crypto-network:
    driver: bridge