name: CI Docker Compose

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-up:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Compose
        run: |
          docker compose --version

      - name: Build and start containers
        run: |
          docker compose up --detach --build

      - name: Show running containers
        run: |
          docker ps
